<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admissions</title>
    <link href="webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="webjars/popper.js/1.12.9-1/umd/popper.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/sidebars.css"/>
    <script src="/js/feather.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var path = window.location.pathname;
            console.log(path);
            var links = document.querySelectorAll('.nav-link');

            links.forEach(function(link) {
                if (link.getAttribute('href') === path) {
                    link.classList.add('active');
                }
            });
        });
    </script>

</head>
<body>


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div th:insert="sidebar.html :: sidebar"></div>
    <div class="content" id="content">
        <div class="container-fluid">
            <h2 class="mb-3 mt-3">Admissions</h2>
            <a th:href="@{/admission/add}" class="btn btn-primary mb-3" sec:authorize="hasRole('ROLE_RECEPTIONIST')"><i data-feather="plus-circle"></i> Schedule Admission  </a>

            <table class="table no-margin  table-bordered table-striped" >
                <thead>
                <tr>
                    <th>Patient</th>
                    <th>Doctor</th>
                    <th>Admission Date</th>
                    <th>Room Number</th>
                    <th>Admission Status</th>
                    <th>Discharge Date</th>
                    <th>Admission Reason</th>
                    <th>Modified Date</th>
                    <th sec:authorize="hasRole('ROLE_RECEPTIONIST')">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="admission : ${admissions}">
                    <td th:text="${admission.patient.firstname}"></td>
                    <td th:text="${admission.doctor.user.firstname}"></td>
                    <td th:text="${admission.admissionDate}"></td>
                    <td th:text="${admission.roomNumber}"></td>
                    <td th:text="${admission.admissionStatus}"></td>
                    <td th:text="${admission.dischargeDate}"></td>
                    <td th:text="${admission.admissionReason}"></td>
                    <td th:text="${admission.modifiedDate}"></td>
                    <td sec:authorize="hasRole('ROLE_RECEPTIONIST')"> <a th:href="@{/admission/edit/{id}(id=${admission.admissionId})}">
                        <i style="color: black;" data-feather="edit"></i>
                    </a>
                        <a th:href="@{/admission/delete/{id}(id=${admission.admissionId})}" onclick="return confirm('Are you sure?')">
                            <i style="color: red;"  data-feather="trash-2"></i>
                        </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</main>


<script src="webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="/js/sidebars.js"></script>
<script>
    // Initialize Feather icons
    feather.replace();
</script>
</body>
</html>