<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Users</title>
    <!--    <link href="webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!--    <script src="webjars/jquery/3.7.1/jquery.min.js"></script>-->
    <script src="webjars/popper.js/1.12.9-1/umd/popper.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/sidebars.css"/>
    <script src="/js/feather.min.js"></script>
</head>
<body>


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div th:insert="sidebar.html :: sidebar"></div>
    <div class="card col-sm-12">
        <div class="content" id="content">
            <div class="container-fluid">
                <div class="canvas-wrapper">
                    <h2>Update Appointment</h2>
                    <form class="needs-validation" action="#" th:action="@{/appointment/update}" th:object="${appointment}"
                          method="post">
                        <div class="row">

                            <div class="col-md-5 col-lg-6">
                                <br>
                                <input type="number" th:field="*{appointmentId}" hidden>
                                <div class="row g-3 mb-3">
                                    <div class="col-md-3 align-items-center">
                                        <label for="patient" class="form-label">Patient<span class="text-red">*</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <select id="patient"  th:field="*{appointment_patient_id}" class="form-select" required>
                                            <option th:each="patient : ${patients}" th:value="${patient.patientId}" th:text="${patient.firstname + ' ' + patient.lastName}"></option>
                                        </select>
                                        <div class="invalid-feedback">Invalid Patient</div>
                                    </div>
                                </div>


                                <div class="row g-3 mb-3">
                                    <div class="col-md-3 align-items-center">
                                        <label for="doctor" class="form-label">Doctor<span class="text-red">*</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <select id="doctor"  th:field="*{appointment_doctor_id}" class="form-select" required>
                                            <option th:each="doctor : ${doctors}" th:value="${doctor.doctorId}" th:text="${doctor.user.firstname + ' ' + doctor.user.lastName}"></option>
                                        </select>
                                        <div class="invalid-feedback">Invalid Doctor</div>
                                    </div>
                                </div>

                                <div class="row g-3 mb-3">
                                    <div class="col-md-3 align-items-center">
                                        <label for="startTime" class="form-label">Start Time
                                            <span class="text-red">*</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div>
                                            <input type="datetime-local" class="form-control"
                                                   id="startTime"
                                                   th:field="*{startTime}"
                                                   required >
                                            <div class="invalid-feedback">Invalid Appointment Start Time
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-3 mb-3">
                                    <div class="col-md-3 align-items-center">
                                        <label for="endTime" class="form-label">End Time
                                            <span class="text-red">*</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div>
                                            <input type="datetime-local" class="form-control"
                                                   id="endTime"
                                                   th:field="*{endTime}"
                                                   required >
                                            <div class="invalid-feedback">Invalid Appointment End Time
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-3 mb-3">
                                    <div class="col-md-3 align-items-center">
                                        <label for="roomNumber" class="form-label">Room Number
                                            <span
                                                    class="text-red">*</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div>
                                            <input type="number" class="form-control"
                                                   id="roomNumber"
                                                   th:field="*{roomNumber}"
                                                   required>
                                            <div class="invalid-feedback">Invalid Value
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="row g-3 mb-3">
                                    <div class="col-md-3 align-items-center">
                                        <label for="notes" class="form-label">Notes
                                            <span
                                                    class="text-red">*</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div>
                                            <input type="text" class="form-control"
                                                   id="notes"
                                                   name="email" min="0"
                                                   th:field="*{notes}"
                                                   required>
                                            <div class="invalid-feedback">Invalid Value
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>

                        </div>

                        <button class="btn btn-primary btn-lg w-auto btn-sm"
                                type="submit">
                            <i data-feather="check-circle" class="data-feather mr-1"></i>
                            Update Appointment
                        </button>


                    </form>
                </div>
            </div>
        </div>
    </div>


</main>


<!--<script src="webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>-->
<!--<script src="/js/sidebars.js"></script>-->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
<script>
    // Initialize Feather icons
    feather.replace();
</script>

</body>
</html>