<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital Management System</title>
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/signin.css"/>
    <script src="/js/feather.min.js"></script>

</head>
<body class="text-center">

<main class="form-signin">
    <div>
        <img src="/icons/building-svgrepo-com.svg" alt="Your Icon" width="50" height="50" class="me-2">
        <span class="fs-4 mb-3"> Hospital Management System</span>
    </div>
    <form action="#" th:action="@{/login}"  method="post">
<!--        <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->


        <div class="form-floating mt-3" >
            <input type="text" class="form-control" id="floatingInput"  name="username" >
            <label for="floatingInput">User Name</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2024</p>
    </form>
</main>
<script>
    // Initialize Feather icons
    feather.replace();
</script>

</body>
</html>