<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link href="webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="webjars/popper.js/1.12.9-1/umd/popper.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/sidebars.css"/>
    <script src="/js/feather.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var path = window.location.pathname;
            console.log(path);
            var links = document.querySelectorAll('.nav-link');

            links.forEach(function(link) {
                if (link.getAttribute('href') === path) {
                    link.classList.add('active');
                }
            });
        });
    </script>

</head>
<body>


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div th:insert="sidebar.html :: sidebar"></div>
    <div class="content" id="content">
        <div class="container-fluid">
            <h2 class="mb-3 mt-3">Patients</h2>
            <a th:href="@{/patient/add}" class="btn btn-primary mb-3"><i data-feather="plus-circle"></i> Add Patient</a>

            <table class="table no-margin  table-bordered table-striped" >
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Date of birth</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Diagnosis</th>
                    <th>Created Date</th>
                    <th>Modified Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patient : ${patients}">
                    <td th:text="${patient.firstname}"></td>
                    <td th:text="${patient.lastName}"></td>
                    <td th:text="${patient.address}"></td>
                    <td th:text="${patient.dateOfBirth}"></td>
                    <td th:text="${patient.phoneNumber}"></td>
                    <td th:text="${patient.email}"></td>
                    <td th:text="${patient.diagnosis}"></td>
                    <td th:text="${patient.createdDate}"></td>
                    <td th:text="${patient.modifiedDate}"></td>
                    <td> <a th:href="@{/patient/edit/{id}(id=${patient.patientId})}">
                        <i style="color: black;" data-feather="edit"></i>
                    </a>
                        <a th:href="@{/patient/delete/{id}(id=${patient.patientId})}" onclick="return confirm('Are you sure?')">
                            <i style="color: red;"  data-feather="trash-2"></i>
                        </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</main>


<script src="webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="/js/sidebars.js"></script>
<script>
    // Initialize Feather icons
    feather.replace();
</script>
</body>
</html>